<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <app key="count" value="3"/>
    <app key="name" value="site_"/>
  </appSettings>
  <site_1>
    <app key="site_code" value="01"/>
    <app key="site_name" value="동문"/>
    <app key="kakao_token" value="D79UUM8jkx"/>
    <app key="kakao_url" value="wss://127.0.0.1/cable?token="/>
    <app key="kakao_parkinglot_code" value="41038299"/>
    <app key="webserver_ip" value="10.22.39.10"/>
    <app key="webserver_port" value="35042"/>
  </site_1>
  <site_2>
    <app key="site_code" value="02"/>
    <app key="site_name" value="서문"/>
    <app key="kakao_token" value="D79UUM8jkx"/>
    <app key="kakao_url" value="wss://127.0.0.1/cable?token="/>
    <app key="kakao_parkinglot_code" value="41038299"/>
    <app key="webserver_ip" value="10.22.39.10"/>
    <app key="webserver_port" value="35042"/>
  </site_2>
  <site_3>
    <app key="site_code" value="03"/>
    <app key="site_name" value="북문"/>
    <app key="kakao_token" value="D79UUM8jkx"/>
    <app key="kakao_url" value="wss://127.0.0.1/cable?token="/>
    <app key="kakao_parkinglot_code" value="41038299"/>
    <app key="webserver_ip" value="10.22.39.10"/>
    <app key="webserver_port" value="35042"/>
  </site_3>
</configuration>