<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="myvar" value="myvalue"/>

  <targets>
    <target xsi:type="File" name="NexpaMiddleWare"
            fileName="${basedir}/Log/${date:format=yyyy}/${date:format=MM}/${date:format=yyyy-MM-dd}/Log.log"
            layout="${longdate} ${level:uppercase=true:padding=5} - ${message}"
            maxArchiveFiles="5"
            archiveEvery="Day"
            />
    <target xsi:type="Console" name="logconsole" layout="${longdate} ${level:uppercase=true:padding=5} - ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="NexpaMiddleWare,logconsole"/>
  </rules>
</nlog>
