<?xml version="1.0" encoding="euc-kr" ?>
<configuration>
  <appSettings>
    <add key="providerType_PostgreSql" value="POSTGRESQL" />
    <add key="providerType_Oracle" value="ORACLE" />
    <add key="providerType_MsSql" value="OLEDB" />
    <!-- parking -->
    <add key="ParkingDBType" value="1" />
    <!-- kakao parking Guidance use /-->
    <add key="dbParkingGuidanceUse" value="False" />
    <!-- kakao parking Guidance /-->
    <add key="dbParkingGuidanceDBType" value="3" />
    <!-- 0: location, 1: level + location -->
    <add key="parkingGuidanceLocation" value="1" />
    <add key="loop_time" value="10" />
  </appSettings>
  <connectionStrings>
    <add name="dbConnection_Oracle" connectionString="User ID=hsdba;Password=admin123;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.254.11)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=hs_ipgs)))" />
    <!-- add name="dbConnection_Oracle" connectionString="Persist Security Info=False;User ID=ipgsdba;Password=admin123;Data Source=ipgsdb" /-->
    <add name="dbConnection_MsSql" connectionString="Provider=SQLOLEDB;Data Source=192.168.119.100,42130;Initial Catalog=PARKING;USER ID=sa;PASSWORD=nexpa1234" />
    <!--add name="dbConnection_MsSql" connectionString="Provider=SQLOLEDB;Data Source=192.168.0.100,42130;Initial Catalog=PARKING;USER ID=sa;PASSWORD=nexpa1234" /-->
    <add name="dbConnection_PostgreSql" connectionString="Server=172.16.254.11;Port=5432;User Id=ipgsdba;Password=admin123;Database=ipgsdb" />
  </connectionStrings>
</configuration>
